@import "../../styles/colors.scss";

.backdrop {
  z-index:3000;
  // background-color: lighten(black,20%);
  opacity:0.1;
  color:$white;
}

.gridBackdrop {
  align-items: center;
}

.innerBox {
  width:80vw;
}

.progressTitle {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 5px;
}